<% provide(:title, 'All Teams') %>
<h1>All Teams</h1>

<div class="row">
	<%= will_paginate %>

	<ul class="users">
	  <%= render @teams %>
	</ul>

	<%= will_paginate %>
</div>
</br>
<div class="row">
	<%= link_to 'Add a Team', new_team_path, class: 'btn'%>
</div>