<% provide(:title, 'About WDIS') %>
<h1>About WDIS</h1>
<p>
  <span class="start-sentence">Who Do I Start</span> is all about knowing the fans. The fans who follow their players' every yard gained. The fans who don't leave their couch for 12 hours on every Sunday from September to January. Who Do I Start wants to help you by letting you help everyone else.
</p>
</br>
<p>
	<span class="start-sentence">Every vote counts.</span> Every vote you cast will help another manager make the decision they've been agonizing over for the past 3 days. It's for this reason, and the fact that there are such a large number of possible matchups, that we
	ask (ok, we require) that for every matchup you look up, you cast 3 votes.
</p>
</br>
<p>
	<span class="start-sentence">Votes also count towards</span> a player's <em>Total WDIS Score (TWS)</em>. Every time you vote for a player, they get a boost to their <em>TWS</em>, and the higher the <em>TWS</em> of the player they beat, the bigger the boost to their own. Make sense? This lets us generate the <em>WDIS Ranking</em>, a purely organic, fan-based ranking system to help you in all of your fantasy football decisions.
</p>