<% provide(:title, 'About WDIS') %>
<h1>About WDIS</h1>
<p>
  <span class="start-sentence">Who Do I Start</span> is all about knowing the fans. The fans who follow their players' every yard gained. The fans who don't leave their couch for 12 hours on every Sunday from September to January. Who Do I Start wants to help you by letting you help everyone else.
</p>
</br>
<p>
	<span class="start-sentence">Every vote counts.</span> Every vote you cast will help another manager make the decision they've been agonizing over for the past 3 days. It's for this reason, and the fact that there are such a large number of possible matchups, that we
	ask (ok, we require) that for every matchup you look up, you cast a few votes. Ten votes per search if you're not signed in, five votes if you are.
</p>
</br>
<p>
	<span class="start-sentence">Votes also count towards</span> a player's <em>Weekly WDIS Score (WWS)</em>. Every time you vote for a player, they get a boost to their <em>WWS</em>, and the higher the <em>WWS</em> of the player they beat, the bigger the boost to their own. Make sense? This lets us generate the <em>WDIS Ranking</em>, a purely organic, fan-based ranking system to help you in all of your fantasy football decisions. 
</p>
<p>
	As you might have noticed, it takes way too long to load the players' scores on the All Players page. This is something we're (very) well aware of, and are working to cut this down significantly.
</p>
</br>
<p>
	<span class="start-sentence">Want access</span> to the <em>WDIS Player Rankings</em>? Sign up (for free), and it's all yours, not to mention access to individual player's score history going back to week 1. Don't feel like signing up? No problem, keep voting and search for as many matchups as you want, just keep in mind that we store credits for non-signed-in-users using cookies, so make sure your browser allows them.
</p>
</br>
<p>
	<span class="start-sentence">The 2013-2014 season</span> is going to be about <em><span class="start-sentence">beta</span></em> testing WDIS. You might have noticed that the random matchup generator (on the home page) only provides matchups featuring running backs. This was done intentionally (for now) as a way to test the system and get feedback from our users without having so many matchups in the system that the amount of traffic needed to generate votes on all of them each week would be nearly impossible. That said, if you have any feedback, we'd love to hear it. This is a fresh, new idea, that we plan to continue to build upon and improve, and your feedback is invaluable in making that possible.
</p>