<% provide(:title, 'All users') %>
<h1>All users</h1>


<div class="row">
	<table id="users-table" class="table">
		<thead>
			<tr>
				<th></th>
				<th>User</th>
				<th>Email</th>
				<th>Credits</th>
				<th>Delete</th>
			</tr>
		</thead>
  	<tbody id="user-table-body">

  		<%= will_paginate %>

			<%= render @users.sort_by(&:id) %>

			<%= will_paginate %>

		</tbody>
	</table>
</ul>