<li>
  <%= link_to "#{player.last_name}, #{player.first_name}", player %>
  <% if current_user.admin? %>
    // <%= link_to "edit", edit_player_path(player) %>
    // <%= link_to "delete", player, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
</li>
