<% provide(:title, 'All Players') %>
<h1>All Players</h1>

<div class="row">
	<%= will_paginate %>

	<ul class="users">
	  <%= render @players %>
	</ul>

	<%= will_paginate %>
</div>
</br>
<div class="row">
	<%= link_to 'Add a Player', new_player_path, class: 'btn'%>
</div>